/*Typeface*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    font-weight: 500;
    -webkit-box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.35);
    box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.35);
}
.center-flex{
    display: flex;
    justify-content: center;
}
.card{
    margin: 1%;
}
.nav-link{
    padding-top: 10px;
}
.button-call{
    display: flex;
    width: 120px;
    background-color: #2FC4F9;
    font-weight: 700;
    height: 45px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
    /*Bordes redondos*/
    border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;
    border: 0px solid #000000;
    /*Sombras*/
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.12);

}
.button-call img{
    width: 18px;
    height: 18px;
}
.button-call a{
    color: white !important;
}
.nav-menu{
    display: flex;
    justify-content: flex-end;
}
.margin-top{
    margin-top: 30px;
}

  i{
      color: #2FC4F9;
      margin-right: 10px;
  }

  .franja{
      width: 189px;
      position: absolute;
      top: -5px;
      left: -8px;
    }
.text-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}
.text-center p{
    margin: 2px;
}
.button-service{
    width: 250px;
    margin-left: 0px;
}

/* About Us */
#aboutUs{
    background-color: #050A36;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}
#aboutUs h2{
    color: white;
    margin-top: 30px;
}
.text-aboutUs{
    color: white;
    text-align: center;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 30px;
}
#services{
    margin-bottom: 25px;
}
@media screen and (max-width: 992px) {
    .nav-menu{
        display: flex;
        justify-content: flex-start;
    }
    .button-call{
        display: none;
    }
    .text-center{
        display: none;
    }
  }
  .cont-iconos{
      display: flex;
      width: 100%;
      justify-content: center;
  }
.cont-iconos .row{
    width: 50%;
    color: white;
    text-align: center;
}
.color-black .row{
    color: #000 !important;
}
.flex-cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.flex-cont img{
    width: 100%;
    padding: 10%;

}
.flex-cont h3{
    font-size: 12pt;
}
#Payment{
    padding-bottom: 60px;
}

footer{
    background-color: #F2F2F2;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.flex-middle{
    display: flex;
    justify-content: center;
}
.middle-vertical{
    display: flex;
    align-items: center;
}
.middle-vertical ul{
    list-style: none;
}
.middle-vertical ul li a{
    color: #000;
}
.Icono-Llamada{
    display: none;
}
.Icono-Up{
    display: none;
}
@media screen and (max-width: 768px) {
    .middle-vertical{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width: 992px) {
    .Icono-Llamada{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        position: fixed;
        z-index: 1;
        bottom: 0px;
    }
    .Icono-Up{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        position: fixed;
        z-index: 1;
        bottom: 80px;
    }
    footer{
        padding-bottom: 155px;
    }
}
.align-center{
    text-align: center;
}
.bold{
    font-weight: 700;
}